<h1 class="center topmarg">Editing <%= @algo.name %></h1>

<%= form_for :algo, url: algo_path(@algo), method: :patch do |f| %>

  <p class="center topmarg">
    <%= f.label :name %><br>
    <%= f.text_field :name, size: "30x1" %>
  </p>

  <p class="center shortwide topmarg">
    <%= f.label :algorithm %><br>
    <%= f.text_area :algorithm, size: "60x10" %>
  </p>

  <p class="center topmarg">
    <%= f.label "Add to Favorites" %><br>
    <%= f.check_box :fav %> <br>
  </p>

  <p class="center topmarg">
    <%= f.submit %>
    <% if flash[:error] %>
      <p> <%= flash[:error] %>
    <% end %>
  </p>

<% end %>

<p class="center topmarg bottommarg"><%= link_to 'Delete Algorithm', algo_path(@algo), method: :delete, data: {confirm: 'Are you sure?'}  %></p>
