<div>
  <div class="picdiv">
    <%= image_tag("comp.png") %>
  </div>
  <button id="favBtn" class="centerbtn topmarg"> Open Favorites </button>
</div>

<div id="favModal" class="modal">
  <div class="favmodal-content">
    <span class="close">x</span>
      <ul><h2 class="center"> Favorites </h2>
        <% @favorites.each do |fav|  %>
          <li><h2 class="center topmarg"><%= p fav.name %></h2></li>
          <li><p class="center topmarg shortwide"><%= p fav.algorithm %></p></li>
        <% end %>
      </ul>
  </div>
</div>


  <% @algos.each do |algo| %>
    <h2 class="center topmarg"><%= p algo.name %></h2>
    <p class="center shortwide topmarg"><%= p algo.algorithm %></p>
      <% algo.comments.each do |comment| %>
        <p class="center shortwide topmarg"><%= p comment.commenter %> says:</p>
        <p class="center shortwide"><%= p comment.body %></p>
      <% end %>
    <p class="center topmargless"><%= link_to "Show", algo_path(algo) %></p>
    <p class="center topmargless"><%= link_to "Edit", edit_algo_path(algo) %></p>
  <% end %>

<h3 class="center topmarg"> Add a new algorithm:</h3>
<p class="center topmargless bottommarg"><%= link_to "New", new_algo_path %></p>
