<div class="picdiv topmarg">
    <%= image_tag("comp.png") %>
</div>

<h1 class="center topmarg"> <%= @algo.name %> </h1>

<p class="center shortwide topmarg">
  Algorithm: <%= @algo.algorithm %>
</p>

<h2 class="center topmarg">Comments</h2>
  <% @algo.comments.each do |comment| %>
    <p class="center topmarg">
      <strong>Commenter:</strong>
      <%= comment.commenter %>
    </p>

    <p class="center topmarg">
      <strong>Comment:</strong>
      <%= comment.sanitized %>
    </p>

<% end %>

<h2 class="center topmarg">Add a comment:</h2>
  <%= form_for([@algo, @algo.comments.build]) do |f| %>
    <% if flash[:error] %>
      <p class="center topmarg red"> <%= flash[:error] %>
    <% end %>
    <p class="center topmarg">
      <%= f.label :commenter %><br>
      <%= f.text_field :commenter %>
    </p>
    <p class="center topmarg">
      <%= f.label :body %><br>
      <%= f.text_area :body, size: "60x5" %>
    </p>
    <p class="center topmarg">
      <%= f.submit %>
    </p>
  <% end %>

<div class="field center topmarg">
    <%= form_for :algo, url: algo_path(@algo), method: :patch do |f| %>
    <% end %>
</div>

<p class="center topmarg"><%= link_to 'Back', algos_path %></p>
